.env
airflow/.env
streamlit/.env
streamlit/.key
streamlit/scrap/
__pycache__

analysis_pipeline_local.py

# venv
stock_env
fastapi_env

# Snowflake
secrets.toml
secrets copy.toml

# jv
JV
Notes.txt
jv_scrap.py
/airflow/logs/
streamlit/key.key
streamlit/userlogs.txt

# scrap
dataset
streamlit/components/scrap
unittest_loginPage.py
userlogs.txt